$fontBold: "theboldfont.ttf";
$shadowColor: rgba(0,0,0,0.45);

body, html{
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face{
    font-family: "TheBold";
    src: url(#{$fontBold});
    font-style: normal;
    font-weight: 100;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.nav-item{
    padding-left: 50px;
}

.nav-link{
    color:#ffffff;
}

.nav-link:hover{
    color:#dedede;
}

.upper{
  background: url(Images/bg1.png) no-repeat center center fixed;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.upperzoomx{
  background: url(Images/bg2.png) no-repeat center center fixed;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.upperreact{
  background: url(Images/bg5.png) no-repeat center center fixed;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.shoe{
  transform: rotate(20deg);
  margin-top: 250px;
  margin-left: 200px;
  -webkit-filter: drop-shadow(100px 50px 25px #{$shadowColor});
  filter: drop-shadow(100px 50px 25px #{$shadowColor});
}

.zoomx{
  margin-top: 150px;
  margin-left: 200px;
  -webkit-filter: drop-shadow(100px 50px 25px #{$shadowColor});
  filter: drop-shadow(100px 50px 25px #{$shadowColor});
}

.react{
  margin-top: 200px;
  margin-left: 200px;
  -webkit-filter: drop-shadow(100px 50px 25px #{$shadowColor});
  filter: drop-shadow(100px 50px 25px #{$shadowColor});
}

.landText{
  color:white;
  margin-top: 150px;
}

.landText{
  .heading{
    font-family: TheBold;
    font-size: 95pt;
  }

  .postHeading{
    font-size: 16pt;
    text-align: justify;
  }
}

#about{
  height: 50%;
}

.aboutHead{
  font-family: TheBold;
  font-size: 48pt;
  background: -webkit-linear-gradient(#13F1FC, #0470DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 15px;
}

.aboutText{
  text-align: justify;
  font-size: 14pt;
}

#footer{
  height:25%;
  background-color: #ffffff;
  text-align: center;
}
